<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta cotizacion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                const formData = new FormData(form);
                const json = JSON.stringify(Object.fromEntries(formData));

                fetch('{{ url_for('cotizaciones') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: json
                })
                .then(response => response.json())
                .then(data => {
                    const resultContainer = document.getElementById('result');
                    resultContainer.textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h2>Ingrese los datos de la cotizacion</h2>
        <form action="{{ url_for('cotizaciones') }}" method="post">
            <label for="numero1">DocNum</label>
            <input type="number" id="numero1" name="numero1" required>

            <label for="numero2">DocEntry</label>
            <input type="number" id="numero2" name="numero2" required>

            <label for="pais">Pais</label>
            <input type="text" id="pais" name="pais" required>

            <input type="submit" value="Enviar">
        </form>
        <pre id="result"></pre>
    </div>
</body>
</html>
