<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz CRM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Programa corriendo con Docker</h1>
        <div>
            <h5>En este contenedor se enviara la informacion del CRM hacia PowerBi</h5>
            <p>Fecha y hora del servidor {{date}}</p>
        </div>
    </div>
</body>
</html>