<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de Cotizaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ingreso de Cotizaciones</h1>
        <form action="{{ url_for('cotizaciones') }}" method="post">
            <label for="paises">Selecciona los países:</label>
            <div>
                <input type="checkbox" id="SV" name="paises" value="SV">
                <label for="SV">El Salvador</label>
            </div>
            <div>
                <input type="checkbox" id="GT" name="paises" value="GT">
                <label for="GT">Guatemala</label>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
