<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Enlazar el archivo CSS de Tailwind -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="w-full max-w-md mx-auto bg-white shadow-lg rounded-lg p-8 space-y-6">

        <!-- Sección del logo -->
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="mx-auto w-48 h-24 mb-6">

        <!-- Notificación de error -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="p-4 rounded-lg text-center text-sm mb-2
                        {% if category == 'success' %} bg-green-100 text-green-800
                        {% elif category == 'error' %} bg-red-100 text-red-800
                        {% elif category == 'warning' %} bg-yellow-100 text-yellow-800
                        {% else %} bg-blue-100 text-blue-800 {% endif %}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Formulario de Login -->
        <form class="space-y-4" action="{{ url_for('login') }}" method="POST" >
            <!-- Campo de Correo Electrónico -->
            <div class="flex-col justify-items-center">
                <label for="user" class="block text-sm font-medium text-gray-700">Codigo de vendedor</label>
                <input type="text" id="user" name="user" required
                       class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-center">
            </div>

            <!-- Campo de Contraseña -->
            <div class="flex-col justify-items-center">
                <label for="password" class="block text-sm font-medium text-gray-700 ">Contraseña</label>
                <input type="password" id="password" name="password" required
                       class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-center">
            </div>

            <!-- Botón de Iniciar Sesión -->
            <div class="flex-col justify-items-center">
                <button id="loginButton" type="submit"
                        class="w-full py-2 px-4 bg-blue-400 text-white rounded-lg font-medium hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 transition duration-300">
                    <span id="buttonText">Iniciar Sesión</span>
                </button>
            </div>
        </form>

        <!-- Barra de progreso -->
        <div id="progressBarContainer" class="w-full bg-gray-200 rounded-full h-4 hidden mt-4">
            <div id="progressBar" class="bg-blue-600 h-4 rounded-full" style="width: 0;"></div>
        </div>

    </div>

</body>
</html>
